package {{packageName}}

import "errors"

func AsErrorResponse(err error) (*ErrorResponse, bool) {
	if err == nil {
		return nil, false
	}

	var apiErr *GenericOpenAPIError
	if !errors.As(err, &apiErr) {
		return nil, false
	}

	v, ok := apiErr.Model().(ErrorResponse)
	if !ok {
		return nil, false
	}

	return &v, true
}
