{{>partial_header}}
package fingerprint

import (
	"{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}/internal/openapi"
)

{{#models}}
{{#model}}
type {{classname}} = openapi.{{classname}}
{{#isEnum}}

const (
{{#allowableValues}}
{{#enumVars}}
	{{classname}}{{#lambda.pascalcase}}{{#lambda.lowercase}}{{name}}{{/lambda.lowercase}}{{/lambda.pascalcase}} = openapi.{{classname}}{{#lambda.pascalcase}}{{#lambda.lowercase}}{{name}}{{/lambda.lowercase}}{{/lambda.pascalcase}}
{{/enumVars}}
{{/allowableValues}}
)

{{/isEnum}}
{{/model}}
{{/models}}
