// {{{classname}}} {{{description}}}{{^description}}the model '{{{classname}}}'{{/description}}
type {{{classname}}} {{{format}}}{{^format}}{{dataType}}{{/format}}

// List of {{{classname}}}
const (
{{#allowableValues}}
{{#enumVars}}
    {{classname}}{{#lambda.pascalcase}}{{#lambda.lowercase}}{{name}}{{/lambda.lowercase}}{{/lambda.pascalcase}} {{classname}} = {{{value}}}
{{/enumVars}}
{{/allowableValues}}
)

// All allowed values of {{{classname}}} enum
var Allowed{{{classname}}}EnumValues = []{{{classname}}}{
{{#allowableValues}}
    {{#enumVars}}
        {{classname}}{{#lambda.pascalcase}}{{#lambda.lowercase}}{{name}}{{/lambda.lowercase}}{{/lambda.pascalcase}},
    {{/enumVars}}
{{/allowableValues}}
}

func (v *{{{classname}}}) UnmarshalJSON(src []byte) error {
var value {{{format}}}{{^format}}{{dataType}}{{/format}}
err := json.Unmarshal(src, &value)
if err != nil {
return err
}

// Do not validate the value against the allowed values. The server
// API may use new enum values before the SDK supports them
// and that scenario must not result in deserialization failures.
//
// SDK users can limit the enum values they work with by
// using the exported Allowed{{{classname}}}EnumValues slice.
*v = {{{classname}}}(value)
return nil
}

