<p align="center">
    <a href="https://fingerprint.com">
        <picture>
            <source media="(prefers-color-scheme: dark)" srcset="https://fingerprintjs.github.io/home/resources/logo_light.svg" />
            <source media="(prefers-color-scheme: light)" srcset="https://fingerprintjs.github.io/home/resources/logo_dark.svg" />
            <img src="https://fingerprintjs.github.io/home/resources/logo_dark.svg" alt="Fingerprint logo" width="312px" />
        </picture>
    </a>
</p>
<p align="center">
    <a href="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/release.yml"><img src="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/release.yml/badge.svg" alt="CI badge" /></a>
    <a href="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/tests.yml"><img src="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/tests.yml/badge.svg" alt="CI badge" /></a>
    <a href="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/functional_tests.yml"><img src="https://github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/actions/workflows/functional_tests.yml/badge.svg" alt="CI badge" /></a>
    <a href="https://opensource.org/licenses/MIT"><img src="https://img.shields.io/:license-mit-blue.svg?style=flat"/></a>
    <a href="https://discord.gg/39EpE2neBg"><img src="https://img.shields.io/discord/852099967190433792?style=logo&label=Discord&logo=Discord&logoColor=white" alt="Discord server"></a>
</p>

# todo RETRYAFTER

# Fingerprint Server Go SDK
[Fingerprint](https://fingerprint.com/) is a device intelligence platform offering industry-leading accuracy.
Fingerprint Server API allows you to search, update, and delete identification events in a server environment. It can be used for data exports, decision-making, and data analysis scenarios. Server API is intended for server-side usage, it's not intended to be used from the client side, whether it's a browser or a mobile device.

## Overview
This API client was generated by the [OpenAPI Generator](https://openapi-generator.tech) project.  By using the [OpenAPI-spec](https://www.openapis.org/) from a remote server, you can easily generate an API client.

- API version: {{appVersion}}
- Package version: {{packageVersion}}
{{^hideGenerationTimestamp}}
    - Build date: {{generatedDate}}
{{/hideGenerationTimestamp}}
- Generator version: {{generatorVersion}}
- Build package: {{generatorClass}}
{{#infoUrl}}
    For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}

## Requirements

Go Lang 1.21 or higher

We keep the [Go support policy](https://go.dev/doc/devel/release) and support the last two major versions of Go.

## Installation & Usage

1. Get the package from GitHub:
```shell
go get "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
```

2. Import and use the library:

```go
package main

import (
	"context"
	"fmt"
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
	"log"
)

func main() {
	client := fingerprint.New(
        // Configure authorization, in our case with API Key
        fingerprint.WithAPIKey("SECRET_API_KEY"),
        // You can also use fingerprint.RegionUS or fingerprint.RegionAsia. Default one is fingerprint.RegionUS
		fingerprint.WithRegion(fingerprint.RegionEU),
	)

	// Usually this data will come from your frontend app
	eventId := "<EVENT_ID>"
	// Get visits for given visitorId and requestId
	event, httpRes, err := client.GetEvent(context.Background(), eventId)
	fmt.Printf("%+v\n", httpRes)

	if err != nil {
		if errResp, ok := fingerprint.AsErrorResponse(err); ok {
			switch errResp.Error.Code {
			case fingerprint.ErrorCodeToo_many_requests:
				log.Fatalf("Too many requests, retry after %d seconds", errResp.Error.AdditionalProperties.RetryAfter())
			default:
				log.Printf("Error %s: %v", errResp.Error.Code, errResp)
				log.Fatal(err)
			}
		}
	}

    fmt.Printf("Got response with visitorId: %s", event.Identification.VisitorId)

	// Access identification details
	if event.Identification != nil {
		fmt.Printf("Got response with Identification: %v", event.Identification)
	}

    req := client.NewSearchEventsRequest(context.Background()).
        // Suspect can be set by using `UpdateEvent` method
		Suspect(true).
		PaginationKey("1740815825085").
        Limit(10)
	response, httpRes, err := client.SearchEvents(req)

    // Search for 10 events with suspect=true
    searchEventsResult, httpRes, err := client.SearchEvents(req)
	if err != nil {
        log.Printf("Error %s: %v", errResp.Error.Code, errResp)
        log.Fatal(err)
	}

	if searchEventsResult.Events != nil {
		fmt.Printf("Got response with Events: %v \n", searchEventsResult.Events)
	}
}
```

> **Note**
> You can also check examples located in [example](./example) directory.
> To run the examples:
> ```shell
> cd example && FINGERPRINT_API_KEY=SECRET_API_KEY EVENT_ID=EVENT_ID_EXAMPLE go run getEvent.go
> ```
> Alternatively, you can define your environment variables inside `example/.env` file and run the examples without passing them as arguments.
> If your subscription region is not the “Global/US” region, use `REGION=eu` or `REGION=ap` in the line above or in your local `.env` file.

### Region
If your subscription is in region other than US, you need to change the region in the configuration:
```go

import (
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
)

func main() {
    client := fingerprint.New(
        fingerprint.WithAPIKey("SECRET_API_KEY"),
        fingerprint.WithRegion(fingerprint.RegionEU), // or fingerprint.RegionAsia, defaults to fingerprint.RegionUS
    )
}
```

## Sealed results

This SDK provides utility methods for decoding [sealed results](https://docs.fingerprint.com/docs/sealed-client-results).
Use below code to unseal results:
```go
package main

import (
	"encoding/base64"
	"fmt"
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
	"os"
)

// Utility function to decode base64 string
func base64Decode(input string) []byte {
	output, err := base64.StdEncoding.DecodeString(input)
	if err != nil {
		log.Fatal(err)
	}
	return output
}

func main() {
    // Sealed result from the frontend.
    sealedResult := base64Decode(os.Getenv("BASE64_SEALED_RESULT"))
    // Base64 encoded key generated in the dashboard.
    key := base64Decode(os.Getenv("BASE64_SEALED_RESULT_KEY"))

	keys := []fingerprint.DecryptionKey{
		// You can provide more than one key to support key rotation. The SDK will try to decrypt the result with each key.
		{
			Key:       key,
			Algorithm: fingerprint.AlgorithmAES256GCM,
		},
	}
	unsealedResponse, err := fingerprint.UnsealEventsResponse(sealedResult, keys)

	if err != nil {
		panic(err)
	}

	// Do something with unsealed response, e.g: send it back to the frontend.
	fmt.Println(unsealedResponse)
}
```

To learn more, refer to example located in [example/sealedResults.go](./example/sealedResults.go).

## Webhook signing

This SDK provides utility method for verifying the HMAC signature of the incoming [webhook](https://docs.fingerprint.com/docs/webhooks) request.

Use below code to verify signature:
```go
package main

import (
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
)

func main() {
    // Your webhook signing secret.
    secret := "secret"

    // Request data. In real life scenario this will be the body of incoming request
    data := []byte("data")

    // Value of the "fpjs-event-signature" header.
    header := "v1=1b2c16b75bd2a870c114153ccda5bcfca63314bc722fa160d690de133ccbb9db"

    isValid := fingerprint.IsValidWebhookSignature(header, data, secret)

    if !isValid {
        panic("Invalid signature")
    }
}
```

To learn more, refer to example located in [example/webhookSignature.go](./example/webhookSignature.go).

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

## Documentation For Authorization

{{^authMethods}}Endpoints do not require authorization.{{/authMethods}}
{{#hasAuthMethods}}Authentication schemes defined for the API:{{/hasAuthMethods}}
{{#authMethods}}
    ### {{{name}}}

    {{#isApiKey}}
        - **Type**: API key
        - **API key parameter name**: {{{keyParamName}}}
        - **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}

        Note, each API key must be added to a map of `map[string]APIKey` where the key is: {{name}} and passed in as the auth context for each request.

        Example

        ```go
        auth := context.WithValue(
        context.Background(),
        {{packageName}}.ContextAPIKeys,
        map[string]{{packageName}}.APIKey{
        "{{name}}": {Key: "API_KEY_STRING"},
        },
        )
        r, err := client.Service.Operation(auth, args)
        ```

    {{/isApiKey}}
    {{#isBasic}}
        {{#isBasicBearer}}
            - **Type**: HTTP Bearer token authentication

            Example

            ```go
            auth := context.WithValue(context.Background(), {{packageName}}.ContextAccessToken, "BEARER_TOKEN_STRING")
            r, err := client.Service.Operation(auth, args)
            ```

        {{/isBasicBearer}}
        {{#isBasicBasic}}
            - **Type**: HTTP basic authentication

            Example

            ```go
            auth := context.WithValue(context.Background(), {{packageName}}.ContextBasicAuth, {{packageName}}.BasicAuth{
            UserName: "username",
            Password: "password",
            })
            r, err := client.Service.Operation(auth, args)
            ```

        {{/isBasicBasic}}
        {{#isHttpSignature}}
            - **Type**: HTTP signature authentication

            Example

            ```go
            authConfig := {{packageName}}.HttpSignatureAuth{
            KeyId:                "my-key-id",
            PrivateKeyPath:       "rsa.pem",
            Passphrase:           "my-passphrase",
            SigningScheme:        {{packageName}}.HttpSigningSchemeHs2019,
            SignedHeaders:        []string{
            {{packageName}}.HttpSignatureParameterRequestTarget, // The special (request-target) parameter expresses the HTTP request target.
            {{packageName}}.HttpSignatureParameterCreated,       // Time when request was signed, formatted as a Unix timestamp integer value.
            "Host",                                 // The Host request header specifies the domain name of the server, and optionally the TCP port number.
            "Date",                                 // The date and time at which the message was originated.
            "Content-Type",                         // The Media type of the body of the request.
            "Digest",                               // A cryptographic digest of the request body.
            },
            SigningAlgorithm:     {{packageName}}.HttpSigningAlgorithmRsaPSS,
            SignatureMaxValidity: 5 * time.Minute,
            }
            var authCtx context.Context
            var err error
            if authCtx, err = authConfig.ContextWithValue(context.Background()); err != nil {
            // Process error
            }
            r, err = client.Service.Operation(auth, args)

            ```
        {{/isHttpSignature}}
    {{/isBasic}}
    {{#isOAuth}}

        - **Type**: OAuth
        - **Flow**: {{{flow}}}
        - **Authorization URL**: {{{authorizationUrl}}}
        - **Scopes**: {{^scopes}}N/A{{/scopes}}
        {{#scopes}} - **{{{scope}}}**: {{{description}}}
        {{/scopes}}

        Example

        ```go
        auth := context.WithValue(context.Background(), {{packageName}}.ContextAccessToken, "ACCESSTOKENSTRING")
        r, err := client.Service.Operation(auth, args)
        ```

        Or via OAuth2 module to automatically refresh tokens and perform user authentication.

        ```go
        import "golang.org/x/oauth2"

        /* Perform OAuth2 round trip request and obtain a token */

        tokenSource := oauth2cfg.TokenSource(createContext(httpClient), &token)
        auth := context.WithValue(oauth2.NoContext, {{packageName}}.ContextOAuth2, tokenSource)
        r, err := client.Service.Operation(auth, args)
        ```

    {{/isOAuth}}
{{/authMethods}}

## Documentation for Utility Methods

Due to the fact that model structure members are all pointers, this package contains
a number of utility functions to easily obtain pointers to values of basic types.
Each of these functions takes a value of the given basic type and returns a pointer to it:

* `PtrBool`
* `PtrInt`
* `PtrInt32`
* `PtrInt64`
* `PtrFloat`
* `PtrFloat32`
* `PtrFloat64`
* `PtrString`
* `PtrTime`

## Author

{{#apiInfo}}{{#apis}}{{#-last}}{{infoEmail}}
{{/-last}}{{/apis}}{{/apiInfo}}
