openapi: 3.1.1
info:
  contact:
    email: support@fingerprint.com
    name: Fingerprint Support
  description: |
    Fingerprint Server API allows you to get, search, and update Events in a server environment. It can be used for data exports, decision-making, and data analysis scenarios.
    Server API is intended for server-side usage, it's not intended to be used from the client side, whether it's a browser or a mobile device.
  license:
    name: MIT
    url: https://github.com/TheUnderScorer/fingerprint-pro-server-api-openapi/blob/main/LICENSE
  title: Server API
  version: "4"
servers:
- description: Global
  url: https://api.fpjs.io/v4
- description: EU
  url: https://eu.api.fpjs.io/v4
- description: Asia (Mumbai)
  url: https://ap.api.fpjs.io/v4
security:
- bearerAuth: []
tags:
- description: Using the Server API you can retrieve information about individual
    analysis events or event history of individual visitors.
  externalDocs:
    description: API documentation
    url: https://dev.fingerprint.com/reference/pro-server-api
  name: Fingerprint
paths:
  /events/{event_id}:
    get:
      description: |
        Get a detailed analysis of an individual identification event, including Smart Signals.

        Use `event_id` as the URL path parameter. This API method is scoped to a request, i.e. all returned information is by `event_id`.
      operationId: getEvent
      parameters:
      - description: "The unique [identifier](https://dev.fingerprint.com/reference/get-function#requestid)\
          \ of each identification request (`requestId` can be used in its place)."
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          The ID of the ruleset to evaluate against the event, producing the action to take for this event.
          The resulting action is returned in the `rule_action` attribute of the response.
        explode: true
        in: query
        name: ruleset_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request. The event Id provided is not valid.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden. Access to this API is denied.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found. The event Id cannot be found in this workspace's
            data.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Too Many Requests. The request is throttled.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Workspace error.
      summary: Get an event by event ID
      tags:
      - Fingerprint
    patch:
      description: "Change information in existing events specified by `event_id`\
        \ or *flag suspicious events*.\n\nWhen an event is created, it can be assigned\
        \ `linked_id` and `tags` submitted through the JS agent parameters. \nThis\
        \ information might not have been available on the client initially, so the\
        \ Server API permits updating these attributes after the fact.\n\n**Warning**\
        \ It's not possible to update events older than one month. \n\n**Warning**\
        \ Trying to update an event immediately after creation may temporarily result\
        \ in an \nerror (HTTP 409 Conflict. The event is not mutable yet.) as the\
        \ event is fully propagated across our systems. In such a case, simply retry\
        \ the request.\n"
      operationId: updateEvent
      parameters:
      - description: "The unique event [identifier](https://dev.fingerprint.com/reference/get-function#event_id)."
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventUpdate"
        required: true
      responses:
        "200":
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request. The request payload is not valid.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden. Access to this API is denied.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found. The event Id cannot be found in this workspace's
            data.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Conflict. The event is not mutable yet.
      summary: Update an event
      tags:
      - Fingerprint
  /events:
    get:
      description: |
        ## Search

        The `/v4/events` endpoint provides a convenient way to search for past events based on specific parameters. Typical use cases and queries include:

        - Searching for events associated with a single `visitor_id` within a time range to get historical behavior of a visitor.
        - Searching for events associated with a single `linked_id` within a time range to get all events associated with your internal account identifier.
        - Excluding all bot traffic from the query (`good` and `bad` bots)

        If you don't provide `start` or `end` parameters, the default search range is the **last 7 days**.

        ### Filtering events with the `suspect` flag

        The `/v4/events` endpoint unlocks a powerful method for fraud protection analytics. The `suspect` flag is exposed in all events where it was previously set by the update API.

        You can also apply the `suspect` query parameter as a filter to find all potentially fraudulent activity that you previously marked as `suspect`. This helps identify patterns of fraudulent behavior.

        ### Environment scoping

        If you use a secret key that is scoped to an environment, you will only get events associated with the same environment. With a workspace-scoped environment, you will get events from all environments.

        Smart Signals not activated for your workspace or are not included in the response.
      operationId: searchEvents
      parameters:
      - description: |
          Limit the number of events returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          Use `pagination_key` to get the next page of results.

          When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:

          1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100`
          2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085`
        explode: true
        in: query
        name: pagination_key
        required: false
        schema:
          type: string
        style: form
      - description: |
          Unique [visitor identifier](https://dev.fingerprint.com/reference/get-function#visitorid) issued by Fingerprint Identification and all active Smart Signals.
          Filter for events matching this `visitor_id`.
        explode: true
        in: query
        name: visitor_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the Bot Detection result, specifically:
            `all` - events where any kind of bot was detected.
            `good` - events where a good bot was detected.
            `bad` - events where a bad bot was detected.
            `none` - events where no bot was detected.
          > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: bot
        required: false
        schema:
          $ref: "#/components/schemas/SearchEventsBot"
        style: form
      - description: |
          Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed.
          Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32
        explode: true
        in: query
        name: ip_address
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the ASN associated with the event's IP address.
          This corresponds to the `ip_info.(v4|v6).asn` property in the response.
        explode: true
        in: query
        name: asn
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by your custom identifier.

          You can use [linked Ids](https://dev.fingerprint.com/reference/get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier.
        explode: true
        in: query
        name: linked_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the URL (`url` property) associated with the event.
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the Bundle ID (iOS) associated with the event.
        explode: true
        in: query
        name: bundle_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the Package Name (Android) associated with the event.
        explode: true
        in: query
        name: package_name
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the origin field of the event. This is applicable to web events only (e.g., https://example.com)
        explode: true
        in: query
        name: origin
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events with a timestamp greater than the start time, in Unix time (milliseconds).
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Filter events with a timestamp smaller than the end time, in Unix time (milliseconds).
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Sort events in reverse timestamp order.
        explode: true
        in: query
        name: reverse
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events previously tagged as suspicious via the [Update API](https://dev.fingerprint.com/reference/updateevent).
          > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response.
        explode: true
        in: query
        name: suspect
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by VPN Detection result.
          > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: vpn
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Virtual Machine Detection result.
          > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: virtual_machine
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Browser Tampering Detection result.
          > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: tampering
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Anti-detect Browser Detection result.
          > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: anti_detect_browser
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Browser Incognito Detection result.
          > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: incognito
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Privacy Settings Detection result.
          > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: privacy_settings
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Jailbroken Device Detection result.
          > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: jailbroken
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Frida Detection result.
          > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: frida
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Factory Reset Detection result.
          > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: factory_reset
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Cloned App Detection result.
          > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: cloned_app
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Android Emulator Detection result.
          > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: emulator
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Rooted Device Detection result.
          > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: root_apps
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by VPN Detection result confidence level.
          `high` - events with high VPN Detection confidence.
          `medium` - events with medium VPN Detection confidence.
          `low` - events with low VPN Detection confidence.
          > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: vpn_confidence
        required: false
        schema:
          $ref: "#/components/schemas/SearchEventsVpnConfidence"
        style: form
      - description: |
          Filter events with Suspect Score result above a provided minimum threshold.
          > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: min_suspect_score
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: |
          Filter events by Developer Tools detection result.
          > Note: When using this parameter, only events with the `developer_tools` property set to `true` or `false` are returned. Events without a `developer_tools` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: developer_tools
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Location Spoofing detection result.
          > Note: When using this parameter, only events with the `location_spoofing` property set to `true` or `false` are returned. Events without a `location_spoofing` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: location_spoofing
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by MITM (Man-in-the-Middle) Attack detection result.
          > Note: When using this parameter, only events with the `mitm_attack` property set to `true` or `false` are returned. Events without a `mitm_attack` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: mitm_attack
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by Proxy detection result.
          > Note: When using this parameter, only events with the `proxy` property set to `true` or `false` are returned. Events without a `proxy` Smart Signal result are left out of the response.
        explode: true
        in: query
        name: proxy
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Filter events by a specific SDK version associated with the identification event (`sdk.version` property). Example: `3.11.14`
        explode: true
        in: query
        name: sdk_version
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) .
          `js` - Javascript agent (Web).
          `ios` - Apple iOS based devices.
          `android` - Android based devices.
        explode: true
        in: query
        name: sdk_platform
        required: false
        schema:
          $ref: "#/components/schemas/SearchEventsSdkPlatform"
        style: form
      - description: |
          Filter for events by providing one or more environment IDs (`environment_id` property).
        explode: true
        in: query
        name: environment
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Filter events by the most precise Proximity ID provided by default.
          > Note: When using this parameter, only events with the `proximity.id` property matching the provided ID are returned. Events without a `proximity` result are left out of the response.
        explode: true
        in: query
        name: proximity_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          When set, the response will include a `total_hits` property with a count of total query matches across all pages, up to the specified limit.
        explode: true
        in: query
        name: total_hits
        required: false
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          Filter events by Tor Node detection result.
          > Note: When using this parameter, only events with the `tor_node` property set to `true` or `false` are returned. Events without a `tor_node` detection result are left out of the response.
        explode: true
        in: query
        name: tor_node
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSearch"
          description: Events matching the filter(s).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Bad request. One or more supplied search parameters are invalid,\
            \ or a required parameter is missing."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden. Access to this API is denied.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Workspace error.
      summary: Search events
      tags:
      - Fingerprint
      x-dotnet-use-request-object: true
  /visitors/{visitor_id}:
    delete:
      description: |
        Request deleting all data associated with the specified visitor ID. This API is useful for compliance with privacy regulations.

        ### Which data is deleted?
        - Browser (or device) properties
        - Identification requests made from this browser (or device)

        #### Browser (or device) properties
        - Represents the data that Fingerprint collected from this specific browser (or device) and everything inferred and derived from it.
        - Upon request to delete, this data is deleted asynchronously (typically within a few minutes) and it will no longer be used to identify this browser (or device) for your [Fingerprint Workspace](https://dev.fingerprint.com/docs/glossary#fingerprint-workspace).

        #### Identification requests made from this browser (or device)
        - Fingerprint stores the identification requests made from a browser (or device) for up to 30 (or 90) days depending on your plan. To learn more, see [Data Retention](https://dev.fingerprint.com/docs/regions#data-retention).
        - Upon request to delete, the identification requests that were made by this browser
          - Within the past 10 days are deleted within 24 hrs.
          - Outside of 10 days are allowed to purge as per your data retention period.

        ### Corollary
        After requesting to delete a visitor ID,
        - If the same browser (or device) requests to identify, it will receive a different visitor ID.
        - If you request [`/v4/events` API](https://dev.fingerprint.com/reference/getevent) with an `event_id` that was made outside of the 10 days, you will still receive a valid response.

        ### Interested?
        Please [contact our support team](https://fingerprint.com/support/) to enable it for you. Otherwise, you will receive a 403.
      operationId: deleteVisitorData
      parameters:
      - description: "The [visitor ID](https://dev.fingerprint.com/reference/get-function#visitorid)\
          \ you want to delete."
        explode: false
        in: path
        name: visitor_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK. The visitor ID is scheduled for deletion.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request. The visitor ID parameter is missing or in the
            wrong format.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden. Access to this API is denied.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found. The visitor ID cannot be found in this workspace's
            data.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Too Many Requests. The request is throttled.
      summary: Delete data by visitor ID
      tags:
      - Fingerprint
components:
  schemas:
    EventId:
      description: |
        Unique identifier of the user's request. The first portion of the event_id is a unix epoch milliseconds timestamp For example: `1758130560902.8tRtrH`
      type: string
    Timestamp:
      description: Timestamp of the event with millisecond precision in Unix time.
      format: int64
      type: integer
    LinkedId:
      description: A customer-provided id that was sent with the request.
      type: string
    EnvironmentId:
      description: |
        Environment Id of the event. For example: `ae_47abaca3db2c7c43`
      type: string
    Suspect:
      description: "Field is `true` if you have previously set the `suspect` flag\
        \ for this event using the [Server API Update event endpoint](https://dev.fingerprint.com/reference/updateevent)."
      type: boolean
    Integration:
      properties:
        name:
          description: "The name of the specific integration, e.g. \"fingerprint-pro-react\"\
            ."
          type: string
        version:
          description: "The version of the specific integration, e.g. \"3.11.10\"."
          type: string
        subintegration:
          $ref: "#/components/schemas/Integration_subintegration"
    SDK:
      description: Contains information about the SDK used to perform the request.
      properties:
        platform:
          description: Platform of the SDK used for the identification request.
          enum:
          - js
          - android
          - ios
          - unknown
          type: string
        version:
          description: |
            Version string of the SDK used for the identification request. For example: `"3.12.1"`
          type: string
        integrations:
          items:
            $ref: "#/components/schemas/Integration"
          type: array
      required:
      - platform
      - version
    Replayed:
      description: |
        `true` if we determined that this payload was replayed, `false` otherwise.
      type: boolean
    IdentificationConfidence:
      properties:
        score:
          description: The confidence score is a floating-point number between 0 and
            1 that represents the probability of accurate identification.
          format: double
          maximum: 1
          minimum: 0
          type: number
        version:
          description: The version name of the method used to calculate the Confidence
            score. This field is only present for customers who opted in to an alternative
            calculation method.
          type: string
        comment:
          type: string
      required:
      - score
    Identification:
      properties:
        visitor_id:
          description: String of 20 characters that uniquely identifies the visitor's
            browser or mobile device.
          type: string
        confidence:
          $ref: "#/components/schemas/IdentificationConfidence"
        visitor_found:
          description: Attribute represents if a visitor had been identified before.
          type: boolean
        first_seen_at:
          description: |
            Unix epoch time milliseconds timestamp indicating the time at which this visitor ID was first seen. example: `1758069706642` - Corresponding to Wed Sep 17 2025 00:41:46 GMT+0000
          format: int64
          type: integer
        last_seen_at:
          description: |
            Unix epoch time milliseconds timestamp indicating the time at which this visitor ID was last seen. example: `1758069706642` - Corresponding to Wed Sep 17 2025 00:41:46 GMT+0000
          format: int64
          type: integer
      required:
      - visitor_found
      - visitor_id
    SupplementaryIDHighRecall:
      description: "A supplementary browser identifier that prioritizes coverage over\
        \ precision. The High Recall ID algorithm matches more generously, i.e., this\
        \ identifier will remain the same even when there are subtle differences between\
        \ two requests. This algorithm does not create as many new visitor IDs as\
        \ the standard algorithms do, but there could be an increase in false-positive\
        \ identification."
      properties:
        visitor_id:
          description: String of 20 characters that uniquely identifies the visitor's
            browser or mobile device.
          type: string
        visitor_found:
          description: Attribute represents if a visitor had been identified before.
          type: boolean
        confidence:
          $ref: "#/components/schemas/IdentificationConfidence"
        first_seen_at:
          description: |
            Unix epoch time milliseconds timestamp indicating the time at which this ID was first seen. example: `1758069706642` - Corresponding to Wed Sep 17 2025 00:41:46 GMT+0000
          format: int64
          type: integer
        last_seen_at:
          description: |
            Unix epoch time milliseconds timestamp indicating the time at which this ID was last seen. example: `1758069706642` - Corresponding to Wed Sep 17 2025 00:41:46 GMT+0000
          format: int64
          type: integer
      required:
      - visitor_found
      - visitor_id
    Tags:
      additionalProperties: true
      description: A customer-provided value or an object that was sent with the identification
        request or updated later.
      type: object
    Url:
      description: |
        Page URL from which the request was sent. For example `https://example.com/`
      type: string
    BundleId:
      description: |
        Bundle Id of the iOS application integrated with the Fingerprint SDK for the event. For example: `com.foo.app`
      type: string
    PackageName:
      description: |
        Package name of the Android application integrated with the Fingerprint SDK for the event. For example: `com.foo.app`
      type: string
    IpAddress:
      description: IP address of the requesting browser or bot.
      type: string
    UserAgent:
      description: |
        User Agent of the client, for example: `Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....`
      type: string
    ClientReferrer:
      description: |
        Client Referrer field corresponds to the `document.referrer` field gathered during an identification request. The value is an empty string if the user navigated to the page directly (not through a link, but, for example, by using a bookmark) For example: `https://example.com/blog/my-article`
      type: string
    BrowserDetails:
      properties:
        browser_name:
          type: string
        browser_major_version:
          type: string
        browser_full_version:
          type: string
        os:
          type: string
        os_version:
          type: string
        device:
          type: string
      required:
      - browser_full_version
      - browser_major_version
      - browser_name
      - device
      - os
      - os_version
    Proximity:
      description: |
        Proximity ID represents a fixed geographical zone in a discrete global grid within which the device is observed.
      properties:
        id:
          description: |
            A stable privacy-preserving identifier for a given proximity zone.
          type: string
        precision_radius:
          description: |
            The radius of the proximity zone’s precision level, in meters.
          enum:
          - 10
          - 25
          - 65
          - 175
          - 450
          - 1200
          - 3300
          - 8500
          - 22500
          format: int32
          type: integer
        confidence:
          description: |
            A value between `0` and `1` representing the likelihood that the true device location lies within the mapped proximity zone.
              * Scores closer to `1` indicate high confidence that the location is inside the mapped proximity zone.
              * Scores closer to `0` indicate lower confidence, suggesting the true location may fall in an adjacent zone.
          format: float
          maximum: 1
          minimum: 0
          type: number
      required:
      - confidence
      - id
      - precision_radius
    BotResult:
      description: |
        Bot detection result:
         * `bad` - bad bot detected, such as Selenium, Puppeteer, Playwright, headless browsers, and so on
         * `good` - good bot detected, such as Google bot, Baidu Spider, AlexaBot and so on
         * `not_detected` - the visitor is not a bot
      enum:
      - bad
      - good
      - not_detected
      type: string
    BotType:
      description: |
        Additional classification of the bot type if detected.
      type: string
    BotInfo:
      description: Extended bot information.
      properties:
        category:
          description: The type and purpose of the bot.
          type: string
        provider:
          description: The organization or company operating the bot.
          type: string
        provider_url:
          description: The URL of the bot provider's website.
          type: string
        name:
          description: The specific name or identifier of the bot.
          type: string
        identity:
          description: |
            The verification status of the bot's identity:
             * `verified` - well-known bot with publicly verifiable identity, directed by the bot provider.
             * `signed` - bot that signs its platform via Web Bot Auth, directed by the bot provider’s customers.
             * `spoofed` - bot that claims a public identity but fails verification.
             * `unknown` - bot that does not publish a verifiable identity.
          enum:
          - verified
          - signed
          - spoofed
          - unknown
          type: string
        confidence:
          description: Confidence level of the bot identification.
          enum:
          - low
          - medium
          - high
          type: string
      required:
      - category
      - confidence
      - identity
      - name
      - provider
    ClonedApp:
      description: |
        Android specific cloned application detection. There are 2 values:  * `true` - Presence of app cloners work detected (e.g. fully cloned application found or launch of it inside of a not main working profile detected). * `false` - No signs of cloned application detected or the client is not Android.
      type: boolean
    DeveloperTools:
      description: |
        `true` if the browser is Chrome with DevTools open or Firefox with Developer Tools open, `false` otherwise.
      type: boolean
    Emulator:
      description: "Android specific emulator detection. There are 2 values: \n* `true`\
        \ - Emulated environment detected (e.g. launch inside of AVD). \n* `false`\
        \ - No signs of emulated environment detected or the client is not Android.\n"
      type: boolean
    FactoryReset:
      description: |
        The time of the most recent factory reset that happened on the **mobile device** is expressed as Unix epoch time. When a factory reset cannot be detected on the mobile device or when the request is initiated from a browser,  this field will correspond to the *epoch* time (i.e 1 Jan 1970 UTC) as a value of 0. See [Factory Reset Detection](https://dev.fingerprint.com/docs/smart-signals-overview#factory-reset-detection) to learn more about this Smart Signal.
      format: int64
      type: integer
    Frida:
      description: |
        [Frida](https://frida.re/docs/) detection for Android and iOS devices. There are 2 values:
        * `true` - Frida detected
        * `false` - No signs of Frida or the client is not a mobile device.
      type: boolean
    IPBlockList:
      properties:
        email_spam:
          description: IP address was part of a known email spam attack (SMTP).
          type: boolean
        attack_source:
          description: IP address was part of a known network attack (SSH/HTTPS).
          type: boolean
        tor_node:
          description: IP address was part of known TOR network activity.
          type: boolean
    Geolocation:
      properties:
        accuracy_radius:
          description: The IP address is likely to be within this radius (in km) of
            the specified location.
          minimum: 0
          type: integer
        latitude:
          format: double
          maximum: 90
          minimum: -90
          type: number
        longitude:
          format: double
          maximum: 180
          minimum: -180
          type: number
        postal_code:
          type: string
        timezone:
          format: timezone
          type: string
        city_name:
          type: string
        country_code:
          maxLength: 2
          minLength: 2
          type: string
        country_name:
          type: string
        continent_code:
          maxLength: 2
          minLength: 2
          type: string
        continent_name:
          type: string
        subdivisions:
          items:
            $ref: "#/components/schemas/Geolocation_subdivisions_inner"
          type: array
    IPInfoV4:
      properties:
        address:
          format: ipv4
          type: string
        geolocation:
          $ref: "#/components/schemas/Geolocation"
        asn:
          type: string
        asn_name:
          type: string
        asn_network:
          type: string
        asn_type:
          type: string
        datacenter_result:
          type: boolean
        datacenter_name:
          type: string
      required:
      - address
    IPInfoV6:
      properties:
        address:
          format: ipv6
          type: string
        geolocation:
          $ref: "#/components/schemas/Geolocation"
        asn:
          type: string
        asn_name:
          type: string
        asn_network:
          type: string
        asn_type:
          type: string
        datacenter_result:
          type: boolean
        datacenter_name:
          type: string
      required:
      - address
    IPInfo:
      description: Details about the request IP address. Has separate fields for v4
        and v6 IP address versions.
      properties:
        v4:
          $ref: "#/components/schemas/IPInfoV4"
        v6:
          $ref: "#/components/schemas/IPInfoV6"
    Proxy:
      description: |
        IP address was used by a public proxy provider or belonged to a known recent residential proxy
      type: boolean
    ProxyConfidence:
      description: |
        Confidence level of the proxy detection. If a proxy is not detected, confidence is "high". If it's detected, can be "low", "medium", or "high".
      enum:
      - low
      - medium
      - high
      type: string
    ProxyDetails:
      description: Proxy detection details (present if `proxy` is `true`)
      properties:
        proxy_type:
          description: "Residential proxies use real user IP addresses to appear as\
            \ legitimate traffic, \nwhile data center proxies are public proxies hosted\
            \ in data centers\n"
          enum:
          - residential
          - data_center
          type: string
        last_seen_at:
          description: |
            Unix millisecond timestamp with hourly resolution of when this IP was last seen as a proxy
          format: int64
          type: integer
        provider:
          description: |
            String representing the last proxy service provider detected when this
            IP was synced. An IP can be shared by multiple service providers.
          type: string
      required:
      - proxy_type
    Incognito:
      description: |
        `true` if we detected incognito mode used in the browser, `false` otherwise.
      type: boolean
    Jailbroken:
      description: "iOS specific jailbreak detection. There are 2 values: \n* `true`\
        \ - Jailbreak detected.\n* `false` - No signs of jailbreak or the client is\
        \ not iOS.\n"
      type: boolean
    LocationSpoofing:
      description: Flag indicating whether the request came from a mobile device with
        location spoofing enabled.
      type: boolean
    MitMAttack:
      description: "* `true` - When requests made from your users' mobile devices\
        \ to Fingerprint servers have been intercepted and potentially modified. \n\
        * `false` - Otherwise or when the request originated from a browser.\nSee\
        \ [MitM Attack Detection](https://dev.fingerprint.com/docs/smart-signals-reference#mitm-attack-detection)\
        \ to learn more about this Smart Signal.\n"
      type: boolean
    PrivacySettings:
      description: |
        `true` if the request is from a privacy aware browser (e.g. Tor) or from a browser in which fingerprinting is blocked. Otherwise `false`.
      type: boolean
    RootApps:
      description: "Android specific root management apps detection. There are 2 values:\
        \ \n* `true` - Root Management Apps detected (e.g. Magisk).\n* `false` - No\
        \ Root Management Apps detected or the client isn't Android.\n"
      type: boolean
    RulesetId:
      description: The ID of the evaluated ruleset.
      type: string
    RuleId:
      description: The ID of the rule that matched the identification event.
      type: string
    RuleExpression:
      description: The expression of the rule that matched the identification event.
      type: string
    RuleActionType:
      description: Describes the action to take with the request.
      enum:
      - allow
      - block
      type: string
    RuleActionHeaderField:
      example:
        name: name
        value: value
      properties:
        name:
          description: The header field name.
          type: string
        value:
          description: The value of the header field.
          type: string
      required:
      - name
      - value
    RequestHeaderModifications:
      description: "The set of header modifications to apply, in the following order:\
        \ remove, set, append."
      example:
        set:
        - name: name
          value: value
        - name: name
          value: value
        remove:
        - remove
        - remove
        append:
        - name: name
          value: value
        - name: name
          value: value
      properties:
        remove:
          description: The list of headers to remove.
          items:
            type: string
          type: array
        set:
          description: "The list of headers to set, overwriting any existing headers\
            \ with the same name."
          items:
            $ref: "#/components/schemas/RuleActionHeaderField"
          type: array
        append:
          description: The list of headers to append.
          items:
            $ref: "#/components/schemas/RuleActionHeaderField"
          type: array
    EventRuleActionAllow:
      description: Informs the client that the request should be forwarded to the
        origin with optional request header modifications.
      example:
        rule_id: rule_id
        rule_expression: rule_expression
        ruleset_id: ruleset_id
        request_header_modifications:
          set:
          - name: name
            value: value
          - name: name
            value: value
          remove:
          - remove
          - remove
          append:
          - name: name
            value: value
          - name: name
            value: value
        type: ""
      properties:
        ruleset_id:
          description: The ID of the evaluated ruleset.
          type: string
        rule_id:
          description: The ID of the rule that matched the identification event.
          type: string
        rule_expression:
          description: The expression of the rule that matched the identification
            event.
          type: string
        type:
          allOf:
          - $ref: "#/components/schemas/RuleActionType"
        request_header_modifications:
          $ref: "#/components/schemas/RequestHeaderModifications"
      required:
      - ruleset_id
      - type
    StatusCode:
      description: A valid HTTP status code.
      type: integer
    RuleActionBody:
      description: The response body to send to the client.
      type: string
    EventRuleActionBlock:
      description: Informs the client the request should be blocked using the response
        described by this rule action.
      properties:
        ruleset_id:
          description: The ID of the evaluated ruleset.
          type: string
        rule_id:
          description: The ID of the rule that matched the identification event.
          type: string
        rule_expression:
          description: The expression of the rule that matched the identification
            event.
          type: string
        type:
          allOf:
          - $ref: "#/components/schemas/RuleActionType"
        status_code:
          description: A valid HTTP status code.
          type: integer
        headers:
          description: A list of headers to send.
          items:
            $ref: "#/components/schemas/RuleActionHeaderField"
          type: array
        body:
          description: The response body to send to the client.
          type: string
      required:
      - ruleset_id
      - type
    EventRuleAction:
      description: "Describes the action the client should take, according to the\
        \ rule in the ruleset that matched the event. When getting an event by event\
        \ ID, the rule_action will only be included when the ruleset_id query parameter\
        \ is specified."
      discriminator:
        mapping:
          allow: "#/components/schemas/EventRuleActionAllow"
          block: "#/components/schemas/EventRuleActionBlock"
        propertyName: type
      oneOf:
      - $ref: "#/components/schemas/EventRuleActionAllow"
      - $ref: "#/components/schemas/EventRuleActionBlock"
    SuspectScore:
      description: |
        Suspect Score is an easy way to integrate Smart Signals into your fraud protection work flow.  It is a weighted representation of all Smart Signals present in the payload that helps identify suspicious activity. The value range is [0; S] where S is sum of all Smart Signals weights.  See more details here: https://dev.fingerprint.com/docs/suspect-score
      type: integer
    Tampering:
      description: |
        Flag indicating browser tampering was detected. This happens when either:
          * There are inconsistencies in the browser configuration that cross internal tampering thresholds (see `tampering_details.anomaly_score`).
          * The browser signature resembles an "anti-detect" browser specifically designed to evade fingerprinting (see `tampering_details.anti_detect_browser`).
      type: boolean
    TamperingDetails:
      properties:
        anomaly_score:
          description: |
            Confidence score (`0.0 - 1.0`) for tampering detection:
              * Values above `0.5` indicate tampering.
              * Values below `0.5` indicate genuine browsers.
          format: double
          maximum: 1
          minimum: 0
          type: number
          x-platforms:
          - android
          - ios
          - browser
        anti_detect_browser:
          description: |
            True if the identified browser resembles an "anti-detect" browser, such as Incognition, which attempts to evade identification by manipulating its fingerprint.
          type: boolean
          x-platforms:
          - browser
    VelocityData:
      description: |
        Is absent if the velocity data could not be generated for the visitor Id.
      properties:
        "5_minutes":
          description: |
            Count for the last 5 minutes of velocity data, from the time of the event.
          type: integer
        "1_hour":
          description: |
            Count for the last 1 hour of velocity data, from the time of the event.
          type: integer
        "24_hours":
          description: |
            The `24_hours` interval of `distinct_ip`, `distinct_linked_id`, `distinct_country`, `distinct_ip_by_linked_id` and `distinct_visitor_id_by_linked_id` will be omitted if the number of `events` for the visitor Id in the last 24 hours (`events.['24_hours']`) is higher than 20.000.
          type: integer
      required:
      - 1_hour
      - 5_minutes
    Velocity:
      description: "Sums key data points for a specific `visitor_id`, `ip_address`\
        \ and `linked_id` at three distinct time\nintervals: 5 minutes, 1 hour, and\
        \ 24 hours as follows: \n\n- Number of distinct IP addresses associated to\
        \ the visitor Id.\n- Number of distinct linked Ids associated with the visitor\
        \ Id.\n- Number of distinct countries associated with the visitor Id.\n- Number\
        \ of identification events associated with the visitor Id.\n- Number of identification\
        \ events associated with the detected IP address.\n- Number of distinct IP\
        \ addresses associated with the provided linked Id.\n- Number of distinct\
        \ visitor Ids associated with the provided linked Id.\n\nThe `24h` interval\
        \ of `distinct_ip`, `distinct_linked_id`, `distinct_country`,\n`distinct_ip_by_linked_id`\
        \ and `distinct_visitor_id_by_linked_id` will be omitted \nif the number of\
        \ `events` for the visitor Id in the last 24\nhours (`events.['24h']`) is\
        \ higher than 20.000.\n\nAll will not necessarily be returned in a response,\
        \ some may be omitted if the \nassociated event does not have the required\
        \ data, such as a linked_id.\n"
      properties:
        distinct_ip:
          $ref: "#/components/schemas/VelocityData"
        distinct_linked_id:
          $ref: "#/components/schemas/VelocityData"
        distinct_country:
          $ref: "#/components/schemas/VelocityData"
        events:
          $ref: "#/components/schemas/VelocityData"
        ip_events:
          $ref: "#/components/schemas/VelocityData"
        distinct_ip_by_linked_id:
          $ref: "#/components/schemas/VelocityData"
        distinct_visitor_id_by_linked_id:
          $ref: "#/components/schemas/VelocityData"
    VirtualMachine:
      description: |
        `true` if the request came from a browser running inside a virtual machine (e.g. VMWare), `false` otherwise.
      type: boolean
    Vpn:
      description: |
        VPN or other anonymizing service has been used when sending the request.
      type: boolean
    VpnConfidence:
      description: "A confidence rating for the VPN detection result — \"low\", \"\
        medium\", or \"high\". Depends on the combination of results returned from\
        \ all VPN detection methods."
      enum:
      - low
      - medium
      - high
      type: string
    VpnOriginTimezone:
      description: |
        Local timezone which is used in timezone_mismatch method.
      type: string
    VpnOriginCountry:
      description: |
        Country of the request (only for Android SDK version >= 2.4.0, ISO 3166 format or unknown).
      type: string
    VpnMethods:
      properties:
        timezone_mismatch:
          description: The browser timezone doesn't match the timezone inferred from
            the request IP address.
          type: boolean
          x-platforms:
          - android
          - ios
          - browser
        public_vpn:
          description: Request IP address is owned and used by a public VPN service
            provider.
          type: boolean
          x-platforms:
          - android
          - ios
          - browser
        auxiliary_mobile:
          description: This method applies to mobile devices only. Indicates the result
            of additional methods used to detect a VPN in mobile devices.
          type: boolean
          x-platforms:
          - android
          - ios
          - browser
        os_mismatch:
          description: The browser runs on a different operating system than the operating
            system inferred from the request network signature.
          type: boolean
          x-platforms:
          - browser
        relay:
          description: |
            Request IP address belongs to a relay service provider, indicating the use of relay services like [Apple Private relay](https://support.apple.com/en-us/102602) or [Cloudflare Warp](https://developers.cloudflare.com/warp-client/).

            * Like VPNs, relay services anonymize the visitor's true IP address.
            * Unlike traditional VPNs, relay services don't let visitors spoof their location by choosing an exit node in a different country.

            This field allows you to differentiate VPN users and relay service users in your fraud prevention logic.
          type: boolean
          x-platforms:
          - android
          - ios
          - browser
    HighActivity:
      description: Flag indicating if the request came from a high-activity visitor.
      type: boolean
    FontPreferences:
      description: |
        Baseline measurement of canonical fonts rendered on the device. Numeric width metrics, in CSS pixels, for the canonical fonts collected by the agent.
      properties:
        default:
          format: double
          type: number
        serif:
          format: double
          type: number
        sans:
          format: double
          type: number
        mono:
          format: double
          type: number
        apple:
          format: double
          type: number
        min:
          format: double
          type: number
        system:
          format: double
          type: number
    Emoji:
      description: Bounding box metrics describing how the emoji glyph renders.
      properties:
        font:
          description: Font family reported by the browser when drawing the emoji.
          type: string
        width:
          format: double
          type: number
        height:
          format: double
          type: number
        top:
          format: double
          type: number
        bottom:
          format: double
          type: number
        left:
          format: double
          type: number
        right:
          format: double
          type: number
        x:
          format: double
          type: number
        "y":
          format: double
          type: number
    Fonts:
      description: List of fonts detected on the device.
      example:
      - Arial Unicode MS
      - Gill Sans
      - Helvetica Neue
      - Menlo
      items:
        type: string
      type: array
    DeviceMemory:
      description: Rounded amount of RAM (in gigabytes) reported by the browser.
      example: 8
      format: int32
      minimum: 0
      type: integer
    Timezone:
      description: Timezone identifier detected on the client.
      type: string
    Canvas:
      description: Canvas fingerprint containing winding flag plus geometry/text hashes.
      properties:
        winding:
          type: boolean
        geometry:
          description: Hash of geometry rendering output or `unsupported` markers.
          type: string
        text:
          description: Hash of text rendering output or `unsupported` markers.
          type: string
    Languages:
      description: |
        Navigator languages reported by the agent including fallbacks. Each inner array represents ordered language preferences reported by different APIs.
      items:
        items:
          type: string
        type: array
      type: array
    WebGlExtensions:
      description: Hashes of WebGL context attributes and extension support.
      properties:
        context_attributes:
          type: string
        parameters:
          type: string
        shader_precisions:
          type: string
        extensions:
          type: string
        extension_parameters:
          type: string
        unsupported_extensions:
          items:
            type: string
          type: array
    WebGlBasics:
      description: Render and vendor strings reported by the WebGL context.
      properties:
        version:
          type: string
        vendor:
          type: string
        vendor_unmasked:
          type: string
        renderer:
          type: string
        renderer_unmasked:
          type: string
        shading_language_version:
          type: string
    ScreenResolution:
      description: Current screen resolution.
      items:
        format: int32
        type: integer
      maxItems: 2
      minItems: 2
      type: array
    TouchSupport:
      description: Browser-reported touch capabilities.
      properties:
        touch_event:
          type: boolean
        touch_start:
          type: boolean
        max_touch_points:
          format: int64
          type: integer
    Oscpu:
      description: Navigator `oscpu` string.
      type: string
    Architecture:
      description: Integer representing the CPU architecture exposed by the browser.
      format: int32
      type: integer
    CookiesEnabled:
      description: Whether the cookies are enabled in the browser.
      type: boolean
    HardwareConcurrency:
      description: Number of logical CPU cores reported by the browser.
      format: int32
      minimum: 1
      type: integer
    DateTimeLocale:
      description: |
        Locale derived from the Intl.DateTimeFormat API. Negative values indicate known error states. The negative statuses can be: - "-1": A permanent status for browsers that don't support Intl API. - "-2": A permanent status for browsers that don't supportDateTimeFormat constructor. - "-3": A permanent status for browsers in which DateTimeFormat locale is undefined or null.
      type: string
    Vendor:
      description: Navigator vendor string.
      type: string
    ColorDepth:
      description: Screen color depth in bits.
      format: int32
      type: integer
    Platform:
      description: Navigator platform string.
      type: string
    SessionStorage:
      description: Whether sessionStorage is available.
      type: boolean
    LocalStorage:
      description: Whether localStorage is available.
      type: boolean
    Audio:
      description: |
        AudioContext fingerprint or negative status when unavailable. The negative statuses can be: - -1: A permanent status for those browsers which are known to always suspend audio context - -2: A permanent status for browsers that don't support the signal - -3: A temporary status that means that an unexpected timeout has happened
      format: double
      type: number
    Plugins:
      description: Browser plugins reported by `navigator.plugins`.
      items:
        $ref: "#/components/schemas/Plugins_inner"
      type: array
    IndexedDb:
      description: Whether IndexedDB is available.
      type: boolean
    Math:
      description: Hash of Math APIs used for entropy collection.
      type: string
    RawDeviceAttributes:
      description: |
        A curated subset of raw browser/device attributes that the API surface exposes. Each property contains a value or object with the data for the collected signal.
      properties:
        font_preferences:
          $ref: "#/components/schemas/FontPreferences"
        emoji:
          $ref: "#/components/schemas/Emoji"
        fonts:
          description: List of fonts detected on the device.
          example:
          - Arial Unicode MS
          - Gill Sans
          - Helvetica Neue
          - Menlo
          items:
            type: string
          type: array
        device_memory:
          description: Rounded amount of RAM (in gigabytes) reported by the browser.
          example: 8
          format: int32
          minimum: 0
          type: integer
        timezone:
          description: Timezone identifier detected on the client.
          type: string
        canvas:
          $ref: "#/components/schemas/Canvas"
        languages:
          description: |
            Navigator languages reported by the agent including fallbacks. Each inner array represents ordered language preferences reported by different APIs.
          items:
            items:
              type: string
            type: array
          type: array
        webgl_extensions:
          $ref: "#/components/schemas/WebGlExtensions"
        webgl_basics:
          $ref: "#/components/schemas/WebGlBasics"
        screen_resolution:
          description: Current screen resolution.
          items:
            format: int32
            type: integer
          maxItems: 2
          minItems: 2
          type: array
        touch_support:
          $ref: "#/components/schemas/TouchSupport"
        oscpu:
          description: Navigator `oscpu` string.
          type: string
        architecture:
          description: Integer representing the CPU architecture exposed by the browser.
          format: int32
          type: integer
        cookies_enabled:
          description: Whether the cookies are enabled in the browser.
          type: boolean
        hardware_concurrency:
          description: Number of logical CPU cores reported by the browser.
          format: int32
          minimum: 1
          type: integer
        date_time_locale:
          description: |
            Locale derived from the Intl.DateTimeFormat API. Negative values indicate known error states. The negative statuses can be: - "-1": A permanent status for browsers that don't support Intl API. - "-2": A permanent status for browsers that don't supportDateTimeFormat constructor. - "-3": A permanent status for browsers in which DateTimeFormat locale is undefined or null.
          type: string
        vendor:
          description: Navigator vendor string.
          type: string
        color_depth:
          description: Screen color depth in bits.
          format: int32
          type: integer
        platform:
          description: Navigator platform string.
          type: string
        session_storage:
          description: Whether sessionStorage is available.
          type: boolean
        local_storage:
          description: Whether localStorage is available.
          type: boolean
        audio:
          description: |
            AudioContext fingerprint or negative status when unavailable. The negative statuses can be: - -1: A permanent status for those browsers which are known to always suspend audio context - -2: A permanent status for browsers that don't support the signal - -3: A temporary status that means that an unexpected timeout has happened
          format: double
          type: number
        plugins:
          description: Browser plugins reported by `navigator.plugins`.
          items:
            $ref: "#/components/schemas/Plugins_inner"
          type: array
        indexed_db:
          description: Whether IndexedDB is available.
          type: boolean
        math:
          description: Hash of Math APIs used for entropy collection.
          type: string
    Event:
      description: Contains results from Fingerprint Identification and all active
        Smart Signals.
      example:
        environment_id: ""
        tampering_details: ""
        frida: ""
        incognito: ""
        client_referrer: ""
        vpn_methods: ""
        identification: ""
        vpn_origin_country: ""
        browser_details: ""
        high_activity_device: ""
        vpn_confidence: ""
        raw_device_attributes: ""
        replayed: ""
        developer_tools: ""
        ip_blocklist: ""
        proxy_confidence: ""
        tags: ""
        emulator: ""
        proxy: ""
        proximity: ""
        bundle_id: ""
        proxy_details: ""
        privacy_settings: ""
        suspect_score: ""
        sdk: ""
        vpn_origin_timezone: ""
        ip_info: ""
        location_spoofing: ""
        mitm_attack: ""
        bot_info: ""
        bot: ""
        supplementary_id_high_recall: ""
        cloned_app: ""
        bot_type: ""
        user_agent: ""
        timestamp: ""
        rule_action:
          rule_id: rule_id
          rule_expression: rule_expression
          ruleset_id: ruleset_id
          request_header_modifications:
            set:
            - name: name
              value: value
            - name: name
              value: value
            remove:
            - remove
            - remove
            append:
            - name: name
              value: value
            - name: name
              value: value
          type: ""
        root_apps: ""
        jailbroken: ""
        suspect: ""
        ip_address: ""
        velocity: ""
        url: ""
        factory_reset_timestamp: ""
        event_id: ""
        vpn: ""
        package_name: ""
        virtual_machine: ""
        tampering: ""
        linked_id: ""
      properties:
        event_id:
          allOf:
          - $ref: "#/components/schemas/EventId"
          x-platforms:
          - android
          - ios
          - browser
        timestamp:
          allOf:
          - $ref: "#/components/schemas/Timestamp"
          x-platforms:
          - android
          - ios
          - browser
        linked_id:
          allOf:
          - $ref: "#/components/schemas/LinkedId"
          x-platforms:
          - android
          - ios
          - browser
        environment_id:
          allOf:
          - $ref: "#/components/schemas/EnvironmentId"
          x-platforms:
          - android
          - ios
          - browser
        suspect:
          allOf:
          - $ref: "#/components/schemas/Suspect"
          x-platforms:
          - android
          - ios
          - browser
        sdk:
          allOf:
          - $ref: "#/components/schemas/SDK"
          x-platforms:
          - android
          - ios
          - browser
        replayed:
          allOf:
          - $ref: "#/components/schemas/Replayed"
          x-platforms:
          - android
          - ios
          - browser
        identification:
          allOf:
          - $ref: "#/components/schemas/Identification"
          x-platforms:
          - android
          - ios
          - browser
        supplementary_id_high_recall:
          allOf:
          - $ref: "#/components/schemas/SupplementaryIDHighRecall"
          x-platforms:
          - android
          - ios
          - browser
        tags:
          allOf:
          - $ref: "#/components/schemas/Tags"
          x-platforms:
          - android
          - ios
          - browser
        url:
          allOf:
          - $ref: "#/components/schemas/Url"
          x-platforms:
          - browser
        bundle_id:
          allOf:
          - $ref: "#/components/schemas/BundleId"
          x-platforms:
          - ios
        package_name:
          allOf:
          - $ref: "#/components/schemas/PackageName"
          x-platforms:
          - android
        ip_address:
          allOf:
          - $ref: "#/components/schemas/IpAddress"
          x-platforms:
          - android
          - ios
          - browser
        user_agent:
          allOf:
          - $ref: "#/components/schemas/UserAgent"
          x-platforms:
          - android
          - ios
          - browser
        client_referrer:
          allOf:
          - $ref: "#/components/schemas/ClientReferrer"
          x-platforms:
          - browser
        browser_details:
          allOf:
          - $ref: "#/components/schemas/BrowserDetails"
          x-platforms:
          - browser
        proximity:
          allOf:
          - $ref: "#/components/schemas/Proximity"
          x-platforms:
          - android
          - ios
        bot:
          allOf:
          - $ref: "#/components/schemas/BotResult"
          x-platforms:
          - browser
        bot_type:
          allOf:
          - $ref: "#/components/schemas/BotType"
          x-platforms:
          - browser
        bot_info:
          allOf:
          - $ref: "#/components/schemas/BotInfo"
          x-platforms:
          - browser
        cloned_app:
          allOf:
          - $ref: "#/components/schemas/ClonedApp"
          x-platforms:
          - android
        developer_tools:
          allOf:
          - $ref: "#/components/schemas/DeveloperTools"
          x-platforms:
          - browser
        emulator:
          allOf:
          - $ref: "#/components/schemas/Emulator"
          x-platforms:
          - android
        factory_reset_timestamp:
          allOf:
          - $ref: "#/components/schemas/FactoryReset"
          x-platforms:
          - android
          - ios
        frida:
          allOf:
          - $ref: "#/components/schemas/Frida"
          x-platforms:
          - android
          - ios
        ip_blocklist:
          allOf:
          - $ref: "#/components/schemas/IPBlockList"
          x-platforms:
          - android
          - ios
          - browser
        ip_info:
          allOf:
          - $ref: "#/components/schemas/IPInfo"
          x-platforms:
          - android
          - ios
          - browser
        proxy:
          allOf:
          - $ref: "#/components/schemas/Proxy"
          x-platforms:
          - android
          - ios
          - browser
        proxy_confidence:
          allOf:
          - $ref: "#/components/schemas/ProxyConfidence"
          x-platforms:
          - android
          - ios
          - browser
        proxy_details:
          allOf:
          - $ref: "#/components/schemas/ProxyDetails"
          x-platforms:
          - android
          - ios
          - browser
        incognito:
          allOf:
          - $ref: "#/components/schemas/Incognito"
          x-platforms:
          - browser
        jailbroken:
          allOf:
          - $ref: "#/components/schemas/Jailbroken"
          x-platforms:
          - ios
        location_spoofing:
          allOf:
          - $ref: "#/components/schemas/LocationSpoofing"
          x-platforms:
          - android
          - ios
        mitm_attack:
          allOf:
          - $ref: "#/components/schemas/MitMAttack"
          x-platforms:
          - android
          - ios
        privacy_settings:
          allOf:
          - $ref: "#/components/schemas/PrivacySettings"
          x-platforms:
          - browser
        root_apps:
          allOf:
          - $ref: "#/components/schemas/RootApps"
          x-platforms:
          - android
        rule_action:
          $ref: "#/components/schemas/EventRuleAction"
        suspect_score:
          allOf:
          - $ref: "#/components/schemas/SuspectScore"
          x-platforms:
          - android
          - ios
          - browser
        tampering:
          allOf:
          - $ref: "#/components/schemas/Tampering"
          x-platforms:
          - android
          - ios
          - browser
        tampering_details:
          allOf:
          - $ref: "#/components/schemas/TamperingDetails"
          x-platforms:
          - android
          - ios
          - browser
        velocity:
          allOf:
          - $ref: "#/components/schemas/Velocity"
          x-platforms:
          - android
          - ios
          - browser
        virtual_machine:
          allOf:
          - $ref: "#/components/schemas/VirtualMachine"
          x-platforms:
          - browser
        vpn:
          allOf:
          - $ref: "#/components/schemas/Vpn"
          x-platforms:
          - android
          - ios
          - browser
        vpn_confidence:
          allOf:
          - $ref: "#/components/schemas/VpnConfidence"
          x-platforms:
          - android
          - ios
          - browser
        vpn_origin_timezone:
          allOf:
          - $ref: "#/components/schemas/VpnOriginTimezone"
          x-platforms:
          - android
          - ios
          - browser
        vpn_origin_country:
          allOf:
          - $ref: "#/components/schemas/VpnOriginCountry"
          x-platforms:
          - android
          - ios
        vpn_methods:
          allOf:
          - $ref: "#/components/schemas/VpnMethods"
          x-platforms:
          - android
          - ios
          - browser
        high_activity_device:
          allOf:
          - $ref: "#/components/schemas/HighActivity"
          x-platforms:
          - android
          - ios
          - browser
        raw_device_attributes:
          allOf:
          - $ref: "#/components/schemas/RawDeviceAttributes"
          x-platforms:
          - browser
      required:
      - event_id
      - timestamp
    ErrorCode:
      description: |
        Error code:
        * `request_cannot_be_parsed` - The query parameters or JSON payload contains some errors
          that prevented us from parsing it (wrong type/surpassed limits).
        * `secret_api_key_required` - secret API key in header is missing or empty.
        * `secret_api_key_not_found` - No Fingerprint workspace found for specified secret API key.
        * `public_api_key_required` - public API key in header is missing or empty.
        * `public_api_key_not_found` - No Fingerprint workspace found for specified public API key.
        * `subscription_not_active` - Fingerprint workspace is not active.
        * `wrong_region` - Server and workspace region differ.
        * `feature_not_enabled` - This feature (for example, Delete API) is not enabled for your workspace.
        * `request_not_found` - The specified event ID was not found. It never existed, expired, or it has been deleted.
        * `visitor_not_found` - The specified visitor ID was not found. It never existed or it may have already been deleted.
        * `too_many_requests` - The limit on secret API key requests per second has been exceeded.
        * `state_not_ready` - The event specified with event ID is
          not ready for updates yet. Try again.
          This error happens in rare cases when update API is called immediately
          after receiving the event ID on the client. In case you need to send
          information right away, we recommend using the JS agent API instead.
        * `failed` - Internal server error.
        * `event_not_found` - The specified event ID was not found. It never existed, expired, or it has been deleted.
        * `missing_module` - The request is invalid because it is missing a required module.
        * `payload_too_large` - The request payload is too large and cannot be processed.
        * `service_unavailable` - The service was unable to process the request.
        * `ruleset_not_found` - The specified ruleset was not found. It never existed or it has been deleted.
      enum:
      - request_cannot_be_parsed
      - secret_api_key_required
      - secret_api_key_not_found
      - public_api_key_required
      - public_api_key_not_found
      - subscription_not_active
      - wrong_region
      - feature_not_enabled
      - request_not_found
      - visitor_not_found
      - too_many_requests
      - state_not_ready
      - failed
      - event_not_found
      - missing_module
      - payload_too_large
      - service_unavailable
      - ruleset_not_found
      type: string
    Error:
      example:
        code: request_cannot_be_parsed
        message: message
      properties:
        code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
      required:
      - code
      - message
    ErrorResponse:
      example:
        error:
          code: request_cannot_be_parsed
          message: message
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
      - error
    EventUpdate:
      example:
        suspect: true
        linked_id: linked_id
        tags:
          key: ""
      properties:
        linked_id:
          description: Linked Id value to assign to the existing event
          type: string
        tags:
          additionalProperties: true
          description: A customer-provided value or an object that was sent with the
            identification request or updated later.
          type: object
        suspect:
          description: Suspect flag indicating observed suspicious or fraudulent event
          type: boolean
          x-go-force-pointer: true
    EventSearch:
      description: Contains a list of all identification events matching the specified
        search criteria.
      example:
        total_hits: 0
        pagination_key: pagination_key
        events:
        - environment_id: ""
          tampering_details: ""
          frida: ""
          incognito: ""
          client_referrer: ""
          vpn_methods: ""
          identification: ""
          vpn_origin_country: ""
          browser_details: ""
          high_activity_device: ""
          vpn_confidence: ""
          raw_device_attributes: ""
          replayed: ""
          developer_tools: ""
          ip_blocklist: ""
          proxy_confidence: ""
          tags: ""
          emulator: ""
          proxy: ""
          proximity: ""
          bundle_id: ""
          proxy_details: ""
          privacy_settings: ""
          suspect_score: ""
          sdk: ""
          vpn_origin_timezone: ""
          ip_info: ""
          location_spoofing: ""
          mitm_attack: ""
          bot_info: ""
          bot: ""
          supplementary_id_high_recall: ""
          cloned_app: ""
          bot_type: ""
          user_agent: ""
          timestamp: ""
          rule_action:
            rule_id: rule_id
            rule_expression: rule_expression
            ruleset_id: ruleset_id
            request_header_modifications:
              set:
              - name: name
                value: value
              - name: name
                value: value
              remove:
              - remove
              - remove
              append:
              - name: name
                value: value
              - name: name
                value: value
            type: ""
          root_apps: ""
          jailbroken: ""
          suspect: ""
          ip_address: ""
          velocity: ""
          url: ""
          factory_reset_timestamp: ""
          event_id: ""
          vpn: ""
          package_name: ""
          virtual_machine: ""
          tampering: ""
          linked_id: ""
        - environment_id: ""
          tampering_details: ""
          frida: ""
          incognito: ""
          client_referrer: ""
          vpn_methods: ""
          identification: ""
          vpn_origin_country: ""
          browser_details: ""
          high_activity_device: ""
          vpn_confidence: ""
          raw_device_attributes: ""
          replayed: ""
          developer_tools: ""
          ip_blocklist: ""
          proxy_confidence: ""
          tags: ""
          emulator: ""
          proxy: ""
          proximity: ""
          bundle_id: ""
          proxy_details: ""
          privacy_settings: ""
          suspect_score: ""
          sdk: ""
          vpn_origin_timezone: ""
          ip_info: ""
          location_spoofing: ""
          mitm_attack: ""
          bot_info: ""
          bot: ""
          supplementary_id_high_recall: ""
          cloned_app: ""
          bot_type: ""
          user_agent: ""
          timestamp: ""
          rule_action:
            rule_id: rule_id
            rule_expression: rule_expression
            ruleset_id: ruleset_id
            request_header_modifications:
              set:
              - name: name
                value: value
              - name: name
                value: value
              remove:
              - remove
              - remove
              append:
              - name: name
                value: value
              - name: name
                value: value
            type: ""
          root_apps: ""
          jailbroken: ""
          suspect: ""
          ip_address: ""
          velocity: ""
          url: ""
          factory_reset_timestamp: ""
          event_id: ""
          vpn: ""
          package_name: ""
          virtual_machine: ""
          tampering: ""
          linked_id: ""
      properties:
        events:
          items:
            $ref: "#/components/schemas/Event"
          type: array
        pagination_key:
          description: Use this value in the `pagination_key` parameter to request
            the next page of search results.
          type: string
        total_hits:
          description: "This value represents the total number of events matching\
            \ the search query, up to the limit provided in the `total_hits` query\
            \ parameter. Only present if the `total_hits` query parameter was provided."
          format: int64
          type: integer
      required:
      - events
    SearchEventsBot:
      description: |
        Filter events by the Bot Detection result, specifically:
          `all` - events where any kind of bot was detected.
          `good` - events where a good bot was detected.
          `bad` - events where a bad bot was detected.
          `none` - events where no bot was detected.
        > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response.
      enum:
      - all
      - good
      - bad
      - none
      type: string
    SearchEventsVpnConfidence:
      description: |
        Filter events by VPN Detection result confidence level.
        `high` - events with high VPN Detection confidence.
        `medium` - events with medium VPN Detection confidence.
        `low` - events with low VPN Detection confidence.
        > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response.
      enum:
      - high
      - medium
      - low
      type: string
    SearchEventsSdkPlatform:
      description: |
        Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) .
        `js` - Javascript agent (Web).
        `ios` - Apple iOS based devices.
        `android` - Android based devices.
      enum:
      - js
      - android
      - ios
      type: string
    Integration_subintegration:
      properties:
        name:
          description: "The name of the specific subintegration, e.g. \"preact\"."
          type: string
        version:
          description: "The version of the specific subintegration, e.g. \"10.21.0\"\
            ."
          type: string
    Geolocation_subdivisions_inner:
      properties:
        iso_code:
          type: string
        name:
          type: string
      required:
      - iso_code
      - name
    Plugins_inner_mimeTypes_inner:
      properties:
        type:
          type: string
        suffixes:
          type: string
        description:
          type: string
    Plugins_inner:
      properties:
        name:
          type: string
        description:
          type: string
        mimeTypes:
          items:
            $ref: "#/components/schemas/Plugins_inner_mimeTypes_inner"
          type: array
      required:
      - name
  securitySchemes:
    bearerAuth:
      bearerFormat: string
      description: "Add your Secret API Key to the Authorization header using the\
        \ standard Bearer format: `Authorization: Bearer <secret_api_key>`"
      scheme: bearer
      type: http
